---
import { fade } from 'astro:transitions';
import Layout from '../layouts/Layout.astro';


//assests
import iconAdobeXD from "../assets/icon/tec-adobe-xd.svg";
import iconCSS from "../assets/icon/tec-css.svg";
import iconHTML from "../assets/icon/tec-html.svg";
import iconIllustrator from "../assets/icon/tec-illustrator.svg";
import iconJS from "../assets/icon/tec-js.svg";
import iconMYSQL from "../assets/icon/tec-mysql.svg";
import iconPhotoshop from "../assets/icon/tec-photoshop.svg";
import iconTailwind from "../assets/icon/tec-tailwindcss.svg";
import iconVuejs from "../assets/icon/tec-vuejs.svg";
import iconReactjs from "../assets/icon/tec-react.svg";
import iconAstro from "../assets/icon/tec-astro.svg";
import iconSelenium from "../assets/icon/tec-selenium.svg";
import iconCucumber from "../assets/icon/tec-cucumber.svg";
import iconAppium from "../assets/icon/tec-appium.svg";
import iconKarate from "../assets/icon/tec-karate.svg";
import iconRestassured from "../assets/icon/tec-restassured.svg";
import iconJava from "../assets/icon/tec-java.svg";
import iconSpringboot from "../assets/icon/tec-springboot.svg";
import iconFigma from "../assets/icon/tec-figma.svg";
import iconGit from "../assets/icon/tec-git.svg";
import iconGitlab from "../assets/icon/tec-gitlab.svg";
import iconGithub from "../assets/icon/tec-github.svg";
import iconBitbucket from "../assets/icon/tec-bitbucket.svg";
import iconJira from "../assets/icon/tec-jira.svg";
import iconTrello from "../assets/icon/tec-trello.svg";
import iconAsana from "../assets/icon/tec-asana.svg";
import iconItalian from "../assets/icon/italian.svg";
import iconEnglish from "../assets/icon/english.svg";
import iconGithub2 from "../assets/icon/github.svg";
import iconLinkedin from "../assets/icon/linkedin.svg";
import me from "../assets/img/me.png";
import { Image } from 'astro:assets';
---

<Layout title='Sobre mí' description='Esmith Alama Sanchez'>
	<section class="w-full flex flex-col md:flex-row md:items-start mx-auto space-x-0 lg:space-x-24 flex-initial pr-0 md:pr-24" transition:animate={fade({duration: "2.5s"})}>
		
		<div class="static md:sticky top-0 md:top-16 w-24 flex flex-row md:flex-col md:justify-center items-center md:flex-wrap">
			<h2 class="flex justify-center items-center pr-5 md:pr-0 w-16 h-10 sm:w-16 sm:h-16 md:w-24 md:h-24 text-3xl sm:text-5xl md:text-7xl text-gray-800 border-r-2 border-gray-600 md:border-r-0 md:border-transparent">03</h2>
			<span class="hidden md:inline-block md:border-t-2 border-gray-600 w-16"></span>
			<span class="hidden md:inline-block border-l-2 border-gray-600 h-24 mt-5 mb-10"></span>
			<p class="relative md:-rotate-90 ml-5 sm:ml-10 md:ml-0">
				<span class="relative z-10 text-xl md:text-base uppercase tracking-widest md:font-semibold text-gray-800">About</span>
				<span class="mt-4 md:mt-0 absolute left-0 z-0 px-10 md:px-8 -ml-1 w-full h-3 bg-blue-400 inline-block"></span>
			</p>
		</div>
		<div class="bg-gray-100 h-fit mt-8 sm:mt-14 md:mt-0 w-full">
			<div class="section-1 bg-gray-100 p-10">
				<h1 class="text-4xl sm:text-5xl md:text-6xl text-gray-900">Esmith Sanchez</h1>
				<h4 class="text-xs text-gray-600 italic">Software Developer</h4>
				<div class="text-sm mt-8 text-gray-600">
					<p>
						Soy Desarrollador de Software con mas de 3 años de experiencia en el área de tecnología. He adquirido una sólida base en el desarrollo de Frontend, además cuento con excelentes habilidades en Testing, siendo capaz de crear e implementar planes de pruebas que garantizan la calidad de software.
					</p>
					<br>
					<p>
						Actualmente, me encuentro en un proceso de aprendizaje continuo, para adquirir conocimientos en el desarrollo del Backend, explorando tecnologías como Java, Spring Boot y MYSQL. 
					</p>
					<br>
					<p>
						Lo que me diferencia es mi enfoque orientado a resolver problemas y mi habilidad para adaptarme rápidamente a nuevos desafíos. Si buscas a un desarrollador comprometido, creativo y con una mentalidad en constante crecimiento, estaré encantado de discutir como puedo contribuir a tu equipo y a tus proyectos ☕.
					</p>
				</div>
				<div class="mt-10">
					<div>
						<h2 class="text-xl text-gray-700 font-semibold">Resumen</h2>
					</div>
					<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-7 mt-5">
						<div>
							<div class="flex items-center text-gray-700 space-x-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 text-blue-600">
									<path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
								</svg>
								<span>Educación</span>
							</div>
							<div class="bg-blue-100 cursor-pointer py-4 px-6 rounded-md mt-3">
								<p class="text-xs text-gray-600 italic">~2024 - Actualidad</p>
								<h3 class="text-sm pt-1 text-gray-800">Spring Boot</h3>
								<p class="text-xs text-gray-600 mt-2">Udemy | Plataforma online</p>
							</div>
							<div class="bg-emerald-100 cursor-pointer py-4 px-6 rounded-md mt-3">
								<p class="text-xs text-gray-600 italic">~2024 - Actualidad</p>
								<h3 class="text-sm pt-1 text-gray-800">English - ICPNA</h3>
								<p class="text-xs text-gray-600 mt-2">Online, Perú</p>
							</div>
							<div class="bg-blue-100 cursor-pointer py-4 px-6 rounded-md mt-3">
								<p class="text-xs text-gray-600 italic">~2021 - 2023</p>
								<h3 class="text-sm pt-1 text-gray-800">Desarrollo de sistema de información</h3>
								<p class="text-xs text-gray-600 mt-2">Lima, Perú</p>
							</div>
						</div>
						<div>
							<div class="flex items-center text-gray-700 space-x-2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 text-blue-600">
									<path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z" />
								</svg>
								<span>Experiencia</span>
							</div>							
							<div class="bg-emerald-100 cursor-pointer py-4 px-6 rounded-md mt-3">
								<p class="text-xs text-gray-600 italic">~2021 - Actualidad</p>
								<h3 class="text-sm pt-1 text-gray-800">Quality Enginner Automation</h3>
								<p class="text-xs text-gray-600 mt-2">NTT DATA</p>
							</div>
							<div class="bg-blue-100 cursor-pointer py-4 px-6 rounded-md mt-3">
								<p class="text-xs text-gray-600 italic">~09/2023 - 11/2023</p>
								<h3 class="text-sm pt-1 text-gray-800">Freelance Frontend Developer</h3>
								<p class="text-xs text-gray-600 mt-2">Ceneris</p>
							</div>
							<div class="bg-emerald-100 cursor-pointer py-4 px-6 rounded-md mt-3">
								<p class="text-xs text-gray-600 italic">~02/2021 - 06/2021</p>
								<h3 class="text-sm pt-1 text-gray-800">Frontend Developer</h3>
								<p class="text-xs text-gray-600 mt-2">Devit Web</p>
							</div>
						</div>									
					</div>
				</div>
			</div>
			<div class="pt-10 pb-20 px-10 bg-gray-50">
				<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-7">
					<div class="order-2 sm:order-1">
						<div class="flex items-center text-gray-700 space-x-2">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 text-blue-600">
								<path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17 17.25 21A2.652 2.652 0 0 0 21 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 1 1-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 0 0 4.486-6.336l-3.276 3.277a3.004 3.004 0 0 1-2.25-2.25l3.276-3.276a4.5 4.5 0 0 0-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437 1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008Z" />
							  </svg>							  
							<span>Habilidades</span>
						</div>
						<div class="mt-5">
							<!-- Skills FrontEnd -->
							<div class="active cont-skills skills-frontend flex gap-7 flex-wrap justify-center items-center">
								<div class="flex flex-col items-center">
									<Image src={iconVuejs} alt="VueJS" class="w-14 h-14">
									<p class="text-sm text-gray-600 mt-2 font-semibold">VueJS</p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconReactjs} alt="ReactJS" class="w-14 h-14">
									<p class="text-sm text-gray-600 mt-2 font-semibold">ReactJS</p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconAstro} alt="Astro" class="w-14 h-14">
									<p class="text-sm text-gray-600 mt-2 font-semibold">Astro</p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconTailwind} alt="TailwindCSS" class="w-14 h-14">
									<p class="text-sm text-gray-600 mt-2 font-semibold">TailwindCSS</p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconHTML} alt="HTML" class="w-14 h-14">
									<p class="text-sm text-gray-600 mt-2 font-semibold">HTML5</p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconCSS} alt="CSS3" class="w-14 h-14">
									<p class="text-sm text-gray-600 mt-2 font-semibold">CSS3</p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconJS} alt="JS" class="w-14 h-14">
									<p class="text-sm text-gray-600 mt-2 font-semibold">JS</p>
								</div>
							</div>
							<!-- Skills Testing -->
							<div class="cont-skills skills-testing flex gap-7 flex-wrap justify-center items-center">
								<div class="flex flex-col items-center">
									<Image src={iconSelenium} alt="Selenium" class="w-11 h-11">
									<p class="text-sm text-gray-600 mt-2 font-semibold">Selenium</p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconRestassured} alt="Rest Assured" class="w-11 h-11">
									<p class="text-sm text-gray-600 mt-2 font-semibold">Rest Assured</p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconCucumber} alt="Cucumber" class="w-11 h-11">
									<p class="text-sm text-gray-600 mt-2 font-semibold">Cucumber</p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconAppium} alt="Appium" class="w-11 h-11">
									<p class="text-sm text-gray-600 mt-2 font-semibold">Appium</p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconKarate} alt="Karate" class="w-11 h-11">
									<p class="text-sm text-gray-600 mt-2 font-semibold">Karate</p>
								</div>
							</div>
							<!-- Skills Backend -->
							<div class="cont-skills skills-backend flex gap-7 flex-wrap justify-center items-center">
								<div class="flex flex-col items-center">
									<Image src={iconJava} alt="Java" class="w-14 h-14">
									<p class="text-sm text-gray-600 mt-2 font-semibold">Java</p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconSpringboot} alt="Spring Boot" class="w-11 h-11">
									<p class="text-sm text-gray-600 mt-2 font-semibold text-center">Spring Boot <br> <small>(En curso)</small></p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconMYSQL} alt="MYSQL" class="w-11 h-11">
									<p class="text-sm text-gray-600 mt-2 font-semibold text-center">MYSQL</small></p>
								</div>
							</div>
							<!-- Skills Diseño -->
							<div class="cont-skills skills-disenio flex gap-7 flex-wrap justify-center items-center">
								<div class="flex flex-col items-center">
									<Image src={iconIllustrator} alt="Illustrator" class="w-12 h-12">
									<p class="text-sm text-gray-600 mt-2 font-semibold">Illustrator</p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconPhotoshop} alt="Photoshop" class="w-12 h-12">
									<p class="text-sm text-gray-600 mt-2 font-semibold text-center">Photoshop</p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconAdobeXD} alt="XD" class="w-12 h-12">
									<p class="text-sm text-gray-600 mt-2 font-semibold text-center">XD</small></p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconFigma} alt="Figma" class="w-12 h-12">
									<p class="text-sm text-gray-600 mt-2 font-semibold text-center">Figma</small></p>
								</div>
							</div>
							<!-- Skills Gestión -->
							<div class="cont-skills skills-gestion flex gap-7 flex-wrap justify-center items-center">
								<div class="flex flex-col items-center">
									<Image src={iconGit} alt="css" class="w-12 h-12">
									<p class="text-sm text-gray-600 mt-2 font-semibold">Git</p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconGithub} alt="GitHub" class="w-12 h-12">
									<p class="text-sm text-gray-600 mt-2 font-semibold text-center">GitHub</p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconGitlab} alt="GitLab" class="w-12 h-12">
									<p class="text-sm text-gray-600 mt-2 font-semibold text-center">GitLab</small></p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconBitbucket} alt="Bitbucket" class="w-12 h-12">
									<p class="text-sm text-gray-600 mt-2 font-semibold text-center">Bitbucket</small></p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconJira} alt="Jira" class="w-12 h-12">
									<p class="text-sm text-gray-600 mt-2 font-semibold text-center">Jira</small></p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconTrello} alt="Trello" class="w-12 h-12">
									<p class="text-sm text-gray-600 mt-2 font-semibold text-center">Trello</small></p>
								</div>
								<div class="flex flex-col items-center">
									<Image src={iconAsana} alt="Asana" class="w-12 h-12">
									<p class="text-sm text-gray-600 mt-2 font-semibold text-center">Asana</small></p>
								</div>
							</div>
						</div>
					</div>
					<div class="order-1 sm:order-2">
						<div class="flex items-center text-gray-700 space-x-2">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 text-blue-600">
								<path stroke-linecap="round" stroke-linejoin="round" d="M14.25 6.087c0-.355.186-.676.401-.959.221-.29.349-.634.349-1.003 0-1.036-1.007-1.875-2.25-1.875s-2.25.84-2.25 1.875c0 .369.128.713.349 1.003.215.283.401.604.401.959v0a.64.64 0 0 1-.657.643 48.39 48.39 0 0 1-4.163-.3c.186 1.613.293 3.25.315 4.907a.656.656 0 0 1-.658.663v0c-.355 0-.676-.186-.959-.401a1.647 1.647 0 0 0-1.003-.349c-1.036 0-1.875 1.007-1.875 2.25s.84 2.25 1.875 2.25c.369 0 .713-.128 1.003-.349.283-.215.604-.401.959-.401v0c.31 0 .555.26.532.57a48.039 48.039 0 0 1-.642 5.056c1.518.19 3.058.309 4.616.354a.64.64 0 0 0 .657-.643v0c0-.355-.186-.676-.401-.959a1.647 1.647 0 0 1-.349-1.003c0-1.035 1.008-1.875 2.25-1.875 1.243 0 2.25.84 2.25 1.875 0 .369-.128.713-.349 1.003-.215.283-.4.604-.4.959v0c0 .333.277.599.61.58a48.1 48.1 0 0 0 5.427-.63 48.05 48.05 0 0 0 .582-4.717.532.532 0 0 0-.533-.57v0c-.355 0-.676.186-.959.401-.29.221-.634.349-1.003.349-1.035 0-1.875-1.007-1.875-2.25s.84-2.25 1.875-2.25c.37 0 .713.128 1.003.349.283.215.604.401.96.401v0a.656.656 0 0 0 .658-.663 48.422 48.422 0 0 0-.37-5.36c-1.886.342-3.81.574-5.766.689a.578.578 0 0 1-.61-.58v0Z" />
							</svg>							  
							<span>Conocimientos</span>
						</div>
						<div class="flex mt-5 gap-4 flex-wrap options-skills">
							<input type="radio" name="skills-options" id="skills-frontend" value="Frontend" checked>
							<label for="skills-frontend" class="text-xs text-gray-600 inline-block bg-gray-200 px-3 py-1.5 rounded-sm cursor-pointer">FrontEnd</label>							

							<input type="radio" name="skills-options" id="skills-testing" value="Testing">
							<label for="skills-testing" class="text-xs text-gray-600 inline-block bg-gray-200 px-3 py-1.5 rounded-sm cursor-pointer">Testing</label>

							<input type="radio" name="skills-options" id="skills-backend" value="Backend">
							<label for="skills-backend" class="text-xs text-gray-600 inline-block bg-gray-200 px-3 py-1.5 rounded-sm cursor-pointer">Backend</label>

							<input type="radio" name="skills-options" id="skills-disenio" value="Disenio">
							<label for="skills-disenio" class="text-xs text-gray-600 inline-block bg-gray-200 px-3 py-1.5 rounded-sm cursor-pointer">Diseño</label>

							<input type="radio" name="skills-options" id="skills-gestion" value="Gestion">
							<label for="skills-gestion" class="text-xs text-gray-600 inline-block bg-gray-200 px-3 py-1.5 rounded-sm cursor-pointer">Gestión</label>
						</div>						
					</div>									
				</div>
			</div>
			<div class="p-10 bg-gray-700">
				<div class="flex flex-col items-center lg:grid grid-cols-1 lg:grid-cols-3">
					<div class="w-48 flex flex-col items-center">
						<Image src={me} alt="photo">
						<div class="flex items-center text-center mt-5 border border-blue-500 px-3 py-1.5 rounded-full mb-5 lg:mb-0">
							<a href="#" class="w-5 inline-block mr-1">
								<Image src={iconGithub2} alt="iconGithub2" class="w-full">
							</a>
							<span class="text-gray-400 -mt-0.5 sm:-mt-1 px-1">|</span>
							<a href="#" class="w-5 inline-block">
								<Image src={iconLinkedin} alt="iconLinkedin" class="w-full">
							</a>
						</div>
					</div>
					<div class="lg:col-span-2">						
						<p class="text-sm text-gray-300 italic"><span class="font-bold text-2xl text-gray-200">``</span>¿Más sobre mí? <br /> Me gusta la fotografía, videojuegos, las películas y cuando se trata de gatos me encanta su elegancia, misterio e independencia ^^.</p>
						<p class="text-gray-200 font-semibold text-sm mt-5">Idiomas</p>
						<div class="flex items-center space-x-3 mt-2">
							<div class="text-center flex flex-col items-center">
								<Image src={iconEnglish} alt="iconEnglish" class="w-8">
								<span class="text-gray-300 text-xs">English</span>
							</div>
							<div class="text-center flex flex-col items-center">
								<Image src={iconItalian} alt="iconItalian" class="w-10">
								<span class="text-gray-300 text-xs">Italain</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style>
	input[type='radio'] {
		display: none;
	}

	input[type='radio']:checked + label {
		background-color: rgb(41, 155, 248);
		color: #fff;
		transition: .5s;
	}
	.cont-skills {
		opacity: 0;
		transition: .2s;
		max-height: 0px;
	}
	.active.cont-skills {
		opacity: 1;
		transition: .5s;
		height: 100%;
		max-height: 300px;
	}

</style>
<script>
	document.addEventListener('astro:page-load', () => {
		document.querySelector('.options-skills').addEventListener('change', (e) => {
			document.querySelectorAll('.cont-skills').forEach( e => {
				if (e.classList.contains('active')) {
					e.classList.remove('active');
				}
			});
			const inputCheck = document.querySelector('input[type="radio"]:checked').getAttribute('id');
			document.querySelector(`div.${inputCheck}`).classList.add('active');
		})
	})

</script>
